h1 {
    margin: 0px;
    padding: 15% 0px 30px 0px;
    font-size: 56px;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

p {
    width: 50%;
    margin: auto;
    text-align: left;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
}
button:hover {
    cursor: pointer;
}

#navBar { position: absolute; }
#navBar a { border-radius: 0px; }

#topBanner {
    color: white;
    min-height: 80vh;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#topBanner p {
    width: 50%;
    margin: 30px auto 30px auto;
    text-align: center;
}

.subheading {
    margin: 20px 0px 20px 0px;
    padding: 15px;
    background-color: grey;
    color: white;
}

.writing {
    padding: 20px 0px;
    line-height: 1.5;
    color: #383838;
    font-family: 'Raleway', sans-serif;
}

.switch-section {
    margin: 50px 0px;
    position: relative;
}

.prev-project, .next-project {
    position: absolute;
    bottom: 40px;
    font-family: 'Raleway', sans-serif;
}
.prev-project {
    left: 40px;
}
.next-project {
    right: 40px;
}

.img-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 82%;
    margin: 15px auto 50px;
}
.img-block .caption {
    padding-top: 10%;
    flex: 0 0 34%;
}
.img-block img {
    flex: 0 0 64%;
    align-self: flex-start;
}

@media (max-width: 600px) {
    .img-block .caption {
        flex: 0 0 100%;
    }
    .img-block img {
        flex: 0 0 100%;
    }
}

@media (max-width: 1200px) {
    .img-block {
        max-width: 90%;
        margin: 0px auto 30px;
    }
    .img-block .caption {
        padding-top: 5%;
    }
}

.center { text-align: center; }
.pb-4 { padding-bottom: 4px; }
.pb-10 { padding-bottom: 10px; }

/* ----------------------------------------------- */
/* --------------- Food Finder ------------------- */
/* ----------------------------------------------- */

#foodFinder {
    background-color: white;
    text-align: center;
}

#foodFinder button:hover {
    color: #66cc91;
    background-color: white;
}

#foodFinder img {
    width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#foodFinder #topBanner {
    background-color: #66cc91;
}

#foodFinder ul {
    width: 20%;
    margin: auto;
    text-align: left;
}

/* ----------------------------------------------- */
/* ------------------- Epubbly ------------------- */
/* ----------------------------------------------- */

#epubbly {
    background-color: white;
    text-align: center;
}

#epubbly button, #epubbly #navBar a {
    color: #2c3e50;
    background-color: #fafaed;
    border: 3px solid #2c3e50;
}
#epubbly button:hover {
    color: #fafaed;
    background-color: #2c3e50;
}

#epubbly img {
    width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#epubbly #topBanner {
    background-color: #fafaed;
}
#epubbly #topBanner h1, #epubbly #topBanner p {
    color: #2c3e50;
}

#epubbly .subheading {
    background-color: #2c3e50;
}

#epubbly ul {
    width: 6%;
    margin: auto;
    text-align: left;
}

/* ----------------------------------------------- */
/* ------------------ Data Viz ------------------- */
/* ----------------------------------------------- */


#dataviz {
    background-color: white;
    text-align: center;
}

#dataviz #topBanner a {
    color: #3C3F48;
    text-decoration: underline;
}

#dataviz button, #dataviz #navBar a {
    color: #3C3F48;
    border: 3px solid #3C3F48;
}
#dataviz button:hover {
    color: #fafaff;
    background-color: #3C3F48;
}

#dataviz img {
    max-width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#dataviz #topBanner {
    background-color: #fafaff;
}
#dataviz #topBanner h1, #dataviz #topBanner p {
    color: #3C3F48;
}

#dataviz .subheading {
    background-color: #3C3F48;
}

#dataviz ul {
    width: 45%;
    margin: auto;
    text-align: left;
}

#dataviz .tools ul {
    width: 6%;
}

#dataviz .img-block {
    justify-content: space-around;
    font-size: 14px;
    margin: 20px auto 80px;
}
#dataviz .img-block .caption {
    padding-top: 4%;
}
#dataviz .img-block .caption p {
    width: 85%;
    margin: auto;
}
#dataviz .img-block img {
    flex: initial;
}
@media (max-width: 1040px) {
    #dataviz .img-block {
        margin: 0px auto 0px;
    }
    #dataviz .img-block .caption {
        min-width: 80%;
    }
}

#dataviz .img-positioning-wrapper {
    position: relative;
}

#dataviz #graph5 {
    max-width: 100%;
}
#dataviz #graph4 {
    position: absolute;
    right: -8%;
    bottom: -5%;
    width: 40%;
}

/* ----------------------------------------------- */
/* ----------------- Redesign -------------------- */
/* ----------------------------------------------- */

#redesign {
    text-align: center;
}

#redesign .subheading {
    background-color: #0561a8;
}

#redesign #topBanner {
    background-color: #DD5F0A;
}

#redesign #tools {
    width: 10%;
    margin: auto;
    text-align: left;
}

#redesign img {
    width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#redesign ul {
    width: 45%;
    margin: auto;
    text-align: left;
}

#wireframes img {
    margin: 10px;
    width: 25%;
    min-width: 400px;
    transition: transform 0.25s ease;
    transform: scale(1);
    cursor: zoom-in;
    z-index: -1;
}

#wireframes img:active {
    transition: transform 0.25s ease;
    transform: scale(1.3);
    cursor: zoom-out;
    z-index: 1;
}

#redesign .nextTo img {
    display: inline-block;
    width: 40%;
    margin: 5px;
    min-width: 500px;
    transition: transform 0.25s ease;
}

/* ----------------------------------------------- */
/* ----------------- LangDev -------------------- */
/* ----------------------------------------------- */

#langDev {
    text-align: center;
}

#langDev h3 {
    color: #36AAC9;
}

#langDev .subheading {
    background-color: #FFFED1;
    color: grey;
}

#langDev #topBanner {
    background-color: #36AAC9;

}

#langDev img {
    width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#langDev .nextTo img {
    display: inline-block;
    width: 45%;
    margin: 5px;
    min-width: 500px;
    transition: transform 0.25s ease;
    transform: scale(1);
    cursor: zoom-in;
    z-index: -1;
}

#langDev .nextTo img:active {
    transition: transform 0.25s ease;
    transform: scale(1.5);
    cursor: zoom-out;
    z-index: 1;
}

#langDev ul {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0px;
    text-align: left;
}

#langDev .conclusion ul {
    width: 45%;
}

/* ----------------------------------------------- */
/* ----------------- ABTesting ------------------- */
/* ----------------------------------------------- */

#abTesting {
    text-align: center;
}

#abTesting button, #abTesting #navBar a {
    color: grey;
    border: 2px solid grey;
}

#abTesting button:hover {
    color: #ECEC86;
    background-color: grey;
}

#abTesting .subheading {
    background-color: #126C83;
    color: white;
}

#abTesting .note {
  font-size: 13px;
}

#abTesting #topBanner {
    background-color: #FFFF99;
    color: grey;
}

#abTesting h1 {
    color: grey;
}

#abTesting img {
    width: 60%;
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
}

#abTesting .nextTo div {
    display: inline-block;
    width: 45%;
    margin: 5px;
    min-width: 500px;
    transition: transform 0.25s ease;
    transform: scale(1);
    cursor: zoom-in;
    z-index: -1;
    vertical-align: top;
}
#abTesting .nextTo img {
    width: 100%;
    margin-top: 0;
}

#abTesting ol {
    width: 50%;
    margin: auto;
    text-align: left;
}

#abTesting ul {
    width: 10%;
    margin: auto;
    text-align: left;
}

#filteredLog img, #metricComputations img {
    box-shadow: 1px 1px 10px grey;
    margin: 20px 0px 30px 0px;
    width: 40%;
}


/* ----------------------------------------------- */
/* ----------------- Responsive ------------------ */
/* ----------------------------------------------- */

@media only screen and (max-width: 640px) { /* mobile view: */
    p {
        width: 75%;
    }
    #topBanner h1 {
        padding-top: 120px;
        font-size: 48px;
    }
    #topBanner p {
        width: 70%;
        margin: 0px auto 50px;
    }
}
